[Unit]
Description=login_ng service for authenticating using pam
Conflicts=getty@%i.service
After=systemd-user-sessions.service plymouth-quit.service acpid.service
Requires=pam_login_ng.service

[Service]
ExecStart=/usr/bin/login_ng-cli --autologin true
Restart=never
UtmpIdentifier=%i
IgnoreSIGPIPE=no
User=login_ng
Type=idle
TTYReset=yes
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/%i
TTYVHangup=yes
SendSIGHUP=no

[Install]
WantedBy=getty.target
DefaultInstance=tty1