[Unit]
Description=login_ng service for authenticating using pam
Conflicts=getty@tty1.service
After=getty@tty1.service systemd-user-sessions.service plymouth-quit.service acpid.service
Requires=pam_login_ng.service

[Service]
ExecStart=/usr/bin/login_ng-cli --autologin true
Restart=always
IgnoreSIGPIPE=no
BusName=org.freedesktop.DisplayManager
User=login_ng

[Install]
Alias=display-manager.service