[Unit]
Description=pam service for login_ng
Before=greetd.service

[Service]
Type=dbus
BusName=org.neroreflex.login_ng_mount
ExecStart=pam_polyauth-service
Restart=always
IgnoreSIGPIPE=no
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target