[Unit]
Description=pam service for polyauth
Before=greetd.service

[Service]
Type=dbus
BusName=org.neroreflex.polyauth_mount
ExecStart=pam_polyauth-service
Restart=always
IgnoreSIGPIPE=no
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target